spring:
  main:
    web-application-type: none

  datasource:
    url: jdbc:postgresql://db:5432/precos_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:

      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


logging:
  level:
    root: INFO
    org.springframework.data: INFO
    com.scarlxrd.datacollector: DEBUG